<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="150" height="200"/></a>
<pre>
<center><b><h2> Python for Data Science - 2305CS303 </b></center>
<center><b><h2>Lab - 6</b></center>    
<left><b><h3>Roll No. : 135</b></left>  
<left><b><h3>Name : Rathod Nikhil</b></left>   
<pre>

### 1. WAP to iterate over a set.

In [16]:
s2={10,70,80,20,40}
for i in s2:
    print(i)

80
20
70
40
10

### 2. WAP to convert set into list, string and tuple.

In [27]:
s2 = {10,20,30,40,50}
l1 = list(s2)
l1

[50, 20, 40, 10, 30]

In [28]:
s3 = {'Helloooo','good'}
l2 = str(s3)
l2

"{'Helloooo', 'good'}"

In [29]:
s4 = {10,20,30,40,50}
l3 = tuple(s4)
l3

(50, 20, 40, 10, 30)

### 3. WAP to check if two lists have at-least one element common.

In [1]:
s1 = {1,2,3,4,5,6}
s2 = {5,6,7,8,9,10}
s3 = s1.intersection(s2)
s3

{5, 6}

### 4. WAP to remove duplicates from list.

In [3]:
s1 = [1,2,3,4,4,5,5,6,7]
s2=[]

for i in s1:
    if i not in s2:
        s2.append(i)
s2

[1, 2, 3, 4, 5, 6, 7]

### 5. WAP to find unique words in the given string.

In [3]:
i = "abc xyz pqr stu vwx yza"
w = i.split()
for x in w:
    print(x)

abc
xyz
pqr
stu
vwx
yza

### 6. WAP to iterate over a dictionary.

In [8]:
d1 = {
    "name": "Nikhil",
    "age": 21,
    "city": "jamnagar"
}

for i, j in d1.items():
    print(i, ":", j)

name : Nikhil
age : 21
city : jamnagar

### 7. WAP to find the sum of all items (values) in a dictionary given by user. (Assume: values are numeric).

In [2]:
d1 = {}
n = int(input("Enter Number : "))
for i in range(n):
    k = input("Enter key : ")
    v = int(input("Enter value : "))
    d1[k] = v
total = sum(d1.values())
print(d1)
total

Enter Number :  2
Enter key :  1
Enter value :  10
Enter key :  2
Enter value :  20

{'1': 10, '2': 20}

30

### 8. WAP to sort dictionary by key or value.

In [9]:
d1 = {}
n = int(input("Enter Number : "))
for i in range(n):
    k = input("Enter key : ")
    v = int(input("Enter value : "))
    d1[k] = v
res = dict(sorted(d1.items()))
print(res)

Enter Number :  3
Enter key :  1
Enter value :  10
Enter key :  3
Enter value :  30
Enter key :  2
Enter value :  20

{'1': 10, '2': 20, '3': 30}

### 9. WAP to handle missing keys in dictionaries.
### •	Example : Given, dict1 = {'a': 5, 'c': 8, 'e': 2} 
### •	if you look for key = 'd', the message given should be 'Key Not Found', otherwise print the value of 'd' in dict1.

In [23]:
# d1 = {}
d1 = {'a': 5, 'c': 8, 'e': 2}
# n = int(input("Enter Number : "))
# for i in range(n):
#     k = input("Enter key : ")
#     v = int(input("Enter value : "))
#     d1[k] = v
k = input("Enter key : ")
if k not in d1:
    print("Key Not Found")
else:
    d1[k]

Enter key :  a