<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="150" height="200"/></a>
<pre>
<center><b><h2> Python for Data Science - 2305CS303 </b></center>
<center><b><h2>Lab - 3</b></center>    
<left><b><h3>Roll No. : 135</b></left>  
<left><b><h3>Name : Nikhil Rathod</b></left>   
<pre>

### 1. WAP to print 1 to 10.

In [1]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

### 2. WAP to print 1 to n.

In [2]:
n = int(input("Enter Number : "))
for i in range(1,n+1):
    print(i , end=" ")

Enter Number :  15

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

### 3.WAP to print odd numbers between 1 to n.

In [3]:
n = int(input("Enter Number : "))
for i in range(1,n+1):
    if i%2!=0:
        print(i,end=" ")

Enter Number :  20

1 3 5 7 9 11 13 15 17 19

### 4. WAP to print numbers between two given numbers which is divisible by 2 but not divisible by 3.

In [13]:
n1 = int(input("Enter Number 1 :"))
n2 = int(input("Enter Number 2 : "))
for i in range(n1,n2):
    if i%2==0 and i%3!=0:
        print(i,end=" ")

Enter Number 1 : 10
Enter Number 2 :  50

10
14
16
20
22
26
28
32
34
38
40
44
46

### 5. WAP to print sum of 1 to n numbers.

In [15]:
n = int(input("Enter Number : "))
sum=0
for i in range(1,n+1):
    sum+=i
print(sum)

Enter Number :  5

15

### 6.WAP to print sum of series 1 + 4 + 9 + 16 + 25 + 36 + ...n.

In [18]:
n = int(input("Enter Number : "))
for i in range(1,n+1):
    print(i*i,end=" ")

Enter Number :  10

1 4 9 16 25 36 49 64 81 100

### 7. WAP to print sum of series 1 – 2 + 3 – 4 + 5 – 6 + 7 ... n.

In [6]:
n = int(input("Enter the value of n: "))
sum = 0

for i in range(1, n + 1):
    if i % 2 == 1:
        sum += i
    else:
        sum -= i

print("Sum: ",sum)

Enter the value of n:  45

Sum:  23

### 8. WAP to print multiplication table of given number.

In [23]:
n = int(input("Enter Number : "))
for i in range(1,n+1):
    print(n," x ",i," = ", (n*i))

Enter Number :  10

10  x  1  =  10
10  x  2  =  20
10  x  3  =  30
10  x  4  =  40
10  x  5  =  50
10  x  6  =  60
10  x  7  =  70
10  x  8  =  80
10  x  9  =  90
10  x  10  =  100

### 9. WAP to find factorial of the given number.

In [26]:
n = int(input("Enter Number : "))
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

Enter Number :  5

120

### 10. WAP to find factors of the given number.

In [27]:
n = int(input("Enter Number : "))
for i in range(1,n+1):
    if n%i==0:
        print(i)

Enter Number :  15

1
3
5
15

### 11. WAP to find whether the given number is prime or not.

In [45]:
n = int(input("Enter Number : "))
count=0
for i in range(1,n+1):
    if n%i==0:
       count+=1
if count==2:
    print("Prime!")
else:
    print("Not Prime!")

Enter Number :  7

Prime!

### 12. WAP to print sum of digits of given number.

In [53]:
num = int(input("Enter a number: "))
sum = 0

while num > 0:
    digit = num % 10
    sum+= digit
    num = num // 10

print("Sum of digits:", sum)

Enter a number:  12

Sum of digits: 3

### 13. WAP to check whether the given number is palindrome or not.

In [77]:
n = int(input("Enter Number : "))
temp = n
total=0
while n!=0:
    digit = n%10
    total=total*10+digit
    n=n//10
if temp==total:
    print("Number is Palidrone")
else:
    print("Number is Not Palidrone")

Enter Number :  121

Number is Palidrone

In [75]:
n=7
for i in range(1,n):
    for k in range(n,i,-1):
        print(" ",end="")
    for j in range(1,i):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [84]:
n=7
for i in range(1,n):
    for k in range(n,i+1):
        print(" ",end="")
    for j in range(i,1,-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *