<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="150" height="200"/></a>
<pre>
<center><b><h2> Python for Data Science - 2305CS303 </b></center>
<center><b><h2>Lab - 7</b></center>    
<left><b><h3>Roll No. : 135</b></left>  
<left><b><h3>Name : Nikhil Rathod</b></left>   
<pre>

### 1. WAP to count simple interest using function.

In [2]:
def simple_interest(p,r,n):
    return (p*r*n)/100
simple_interest(5000,2,3)

300.0

### 2. Write a function to calculate BMI given mass and height. (BMI = mass/h**2)

In [3]:
def BMI(m,h):
    return m/(h**2)
BMI(200,5)

8.0

### 3. WAP that defines a function to add first n numbers.

In [22]:
def sumofn(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total
sumofn(5)

15

### 4. WAP to find maximum number from given two numbers using function.

In [6]:
def maxnum(num1,num2):
    if num1>num2:
        return num1
    else:
        return num2
maxnum(10,20)

20

### 5. Write a function that returns True if the given string is Palindrome or False otherwise.

In [10]:
def palidrone(s):
    if s==s[::-1]:
        return "String is Palindrone"
    else:
        return "String is NOT Palindrone"
palidrone("nayan")

'String is Palindrone'

### 6. Write a function that returns the sum of all the elements of the list.

In [1]:
def sumoflist(numbers):
    total = 0
    for num in numbers:
        total += num
    return total
l = [10, 20, 30, 40]
print("Sum of list:", sumoflist(l))

Sum of list: 100

### 7. WAP that defines a function which returns 1 if the number is prime otherwise return 0.

In [24]:
def isPrime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True
isPrime(15)

False

### 8. Write a function that returns the list of Prime numbers between given two numbers.

In [32]:
l1 = []
def PrimeRange(m,n):
    for i in range(m,n+1):
        if (isPrime(i)):
            l1.append(i)
    print(l1)
PrimeRange(2,50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 9. WAP to generate Fibonacci series of N given number using function name fibbo. (e.g. 0 1 1 2 3 5 8...).

In [46]:
def fibo(n):
    for i in range(n):
        a = 0
        b = 1
        print(a,end=" ")
        n = a + b
        a = b
        b = n
fibo(8)

0 0 0 0 0 0 0 0

### 10. WAP to find the factorial of a given number using recursion.

In [2]:
def factorial(n):
    if n == 0 or n == 1: 
        return 1
    else:
        return n * factorial(n - 1) 

num = int(input("Enter a number: "))

if num < 0:
    print("Not Allowed")
else:
    print(f"The factorial of {num} is {factorial(num)}")

Enter a number:  5

The factorial of 5 is 120

### 11. WAP to implement simple calculator using lamda function.

In [4]:
add = lambda a, b: a + b
sub = lambda a, b: a - b
mul = lambda a, b: a * b
div = lambda a, b: a / b if b != 0 else "Division by zero not allowed"
choice = input("Enter operator (+, -, *, /): ")
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if choice == '+':
    print("Result:", add(num1, num2))
elif choice == '-':
    print("Result:", sub(num1, num2))
elif choice == '*':
    print("Result:", mul(num1, num2))
elif choice == '/':
    print("Result:", div(num1, num2))
else:
    print("Invalid operator")

Enter operator (+, -, *, /):  +
Enter first number:  10
Enter second number:  20

Result: 30.0