<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="150" height="200"/></a>
<pre>
<center><b><h2> Python for Data Science - 2305CS303 </b></center>
<center><b><h2>Lab - 9</b></center>    
<left><b><h3>Roll No. : </b></left>  
<left><b><h3>Name : </b></left>   
<pre>

### 1. Create a Pandas Series containing names of 5 students.

### 2. Create a Series with student roll numbers as index and their IAT scores as values..

### 3. Create a time series (daily) from 2025-08-01 to 2025-08-10 representing attendance tracking for a student.

### 4. Create a DataFrame for 10 students with the following columns: Roll No, Name, PDS, CA, CN, IAT.
#### (Use NumPy random module to generate scores)

### 5. Display the first 3 rows of the DataFrame.

### 6. Display the last 2 rows of the DataFrame.

### 7. Use .describe() to summarize the numeric data.

### 8. Select only the Name column.

### 9. Select the columns PDS, CN, and IAT.

### 10. Select the row with Roll No = 105 using loc.

### 11. Select the 4th row using iloc.

### 12. Select students with marks in PDS > 80.

### 13. Select students with marks in CA < 70.

### 14. Select students with marks in CN > 85 and PDS > 80

### 15. Add a new column Total Marks = PDS + CA + CN + IAT.

### 16. Create a new DataFrame of students with Total Marks > 320.