<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="150" height="200"/></a>
<pre>
<center><b><h2> Python for Data Science - 2305CS303 </b></center>
<center><b><h2>Lab - 5 Part-2</b></center>    
<left><b><h3>Roll No. : 135</b></left>  
<left><b><h3>Name : Rathod Nikhil</b></left>   
<pre>

### 1. WAP to create a list of squared numbers from 0 to 9 with and without using List Comprehension.

In [44]:
l1 =[]
for i in range(9):
    l1.append(i*i)
l1

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [43]:
l1 = [i*i for i in range (9)]
l1

[0, 1, 4, 9, 16, 25, 36, 49, 64]

### 2. WAP to find Maximum and Minimum K elements in a given tuple.

In [29]:
t1 = (1,5,67,95,45,78,10)
t2=sorted(t1)
k = int(input("Enter Number : "))
print(t2[0:k])
print(t2[-k:])

Enter Number :  2

[1, 5]
[78, 95]

### 3. WAP to find tuples which have all elements divisible by K from a list of tuples.

In [45]:
l3 = [(2,4,6),(8,12,16),(19,13,15)]
k = int(input("Enter Number : "))
flag = 1
for i in l3:
    for j in i:
        if j%k==0:
            flag=1
        else:
            flag=0
            break
    if flag==1:
        print(i)

Enter Number :  2

(2, 4, 6)
(8, 12, 16)

### 4. WAP to create a list of tuples from given list having number and its cube in each tuple.

In [41]:
l1 = [1, 2, 3, 4, 5]
l2 = [(num, num**3) for num in l1]
print(l2)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

### 5. WAP to remove tuples of length K.

In [3]:
l3 = [(2,4,6),(8,12,16),(19,13)]
k = 2
ans = [i for i in l3 if len(i) != k]
ans

[(2, 4, 6), (8, 12, 16)]