<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="150" height="200"/></a>
<pre>
<center><b><h2> Python for Data Science - 2305CS303 </b></center>
<center><b><h2>Lab - 1</b></center>    
<left><b><h3>Roll No. : 135</b></left>  
<left><b><h3>Name : Rathod Nikhil</b></left>   
<pre>

### 1. WAP to print “Hello World”

In [2]:
print("Hello")

Hello

### 2. WAP to print your address i) using single print ii) using multiple print

In [7]:
print("Jamnagar Gujarat Street 5 pincode 361004")
print("Jamnagar")
print("Gujarat")
print("Street 5")
print("Pincode 361004")
print("India")

Jamnagar Gujarat Street 5 pincode 361004
Jamnagar
Gujarat
Street 5
Pincode 361004
India

### 3. WAP to print addition of 2 numbers (without input function)

In [1]:
num1 = 10
num2 = 20
res = num1 + num2
print(res)

30

### 4. WAP to calculate and print average of 2 numbers (without input function)

In [11]:
a = 50
b = 20
ans = a+b
avg = ans/2
print(ans)
print(avg)

70
35.0

### 5. WAP to add two number entered by user.

In [4]:
a = int(input("Enter Number 1 : "))
b = int(input("Enter Number 2 : "))
ans = a+b
print(ans)

Enter Number 1 :  20
Enter Number 2 :  20

40

### 6. WAP to calculate area of circle.

In [5]:
r = int(input("Enter Number : "))
ans = 3.14 * r * r
print(ans)

Enter Number :  50

7850.0

### 7. Purposefully raise Indentation Error and Correct it.

In [12]:
a = 10
b = 10 
if(a == b):
print("Equal")
else:
print("Not Equal!")

# a = 10
# b = 10 
# if(a == b):
#     print("Equal")
# else:
#     print("Not Equal!")

IndentationError: expected an indented block after 'if' statement on line 3 (2323194166.py, line 4)

### 8. WAP to calculate simple interest

In [7]:
p = int(input("Enter Number Amount : "))
r = int(input("Enter Number Interest : "))
n = int(input("Enter Number Month : "))
ans = ((p * r * n)/100)
print(ans)

Enter Number Amount :  50000
Enter Number Interest :  7
Enter Number Month :  60

210000.0

### 9. WAP Calculate Area and Circumference of Circle.

In [8]:
r = int(input("Enter Number Rate : "))
ans = 2 * 3.14 * r
print(ans)

Enter Number Rate :  5

31.400000000000002

### 10. WAP to print Multiplication table of given number.

In [13]:
num = int(input("Enter Number : "))
for i in range(1,11):
    print(num , " x " , i , " = ", (num*i))

Enter Number :  5

5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50

### 11. WAP to calculate Area of Triangle. (hint: a = h*b*0.5)

In [14]:
h = int(input("Enter Height : "))
b = int(input("Enter Base : "))
res = (h*b*0.5)
print(res)

Enter Height :  5
Enter Base :  4

10.0

### 12. WAP to convert Degree to Fahrenheit and vice versa.

In [21]:
# Celsius to Fahrenheit
cel = float(input("Enter Number : "))
res = ((cel*(9/5))+32)
print(res)



# Fahrenheit to Celsius
fah = float(input("Enter Number : "))
res = (fah-32)*5/9
print(res)

Enter Number :  45

113.0

Enter Number :  113

45.0

### 13.WAP to calculate total marks and Percentage.

In [2]:
num = int(input("Enter Number of Subjects: "))
sum = 0
for i in range(1, num+1):
    sub = int(input("Enter Marks: "))
    sum = sum + sub
print("Total Marks:", sum)
print("Percentage:", (sum/(num*100))*100)

Enter Number of Subjects:  5
Enter Marks:  95
Enter Marks:  78
Enter Marks:  96
Enter Marks:  85
Enter Marks:  46

Total Marks: 400
Percentage: 80.0